footer{
    background-color: black;
    color: #fff;
    font: 1vw;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: absolute;
    bottom: 0;
}

footer h2{
    margin: 0 20px;
    padding: 10px;
}